 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
 </head>
   <body>
    <h2>Vista de consulta</h2>
    <a href="/">Abrir vista de inicio</a>

    <table>
      <thead>
         <tr>
            <td>Id:</td>
            <td>Titulo:</td>
            <td>Artista:</td>
            <td>Año de publicacion:</td>
         </tr>
      </thead>

      <tbody>

         <tr>
            <td>{{albums.0}}</td>
            <td>{{albums.1}}</td>
            <td>{{albums.2}}</td>
            <td>{{albums.3}}</td>
            <td><a href="/actualizarAlbum/{{albums.0}}">Actualizar</a></td>
            <td><a href="/eliminar/{{albums.0}}">Eliminar</a></td>
         </tr>
         
      </tbody>
    </table>
 </body>
 </html>
 