<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar eliminación</title>
</head>
<body>
    <h1 style="color:rgb(128, 0, 0)">¿Seguro que eliminarás?</h1>

    <form action = "/eliminar/{{album.0}}" method="POST">

        <input type="text" value="{{ album.1 }}" disabled>
        <input type="text" value="{{ album.2 }}" disabled>
        <input type="number" value="{{ album.3 }}" disabled>
        <button type="submit">Eliminar Álbum</button>

    </form>

    <br>
    <a href="{{ url_for('home') }}">Regresar al Formulario</a>
</body>
</html>
