{% extends 'plantilla.html' %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center mb-4 text-primary">Vista de Consulta</h2>

    <div class="mb-3 text-center">
        <a href="/" class="btn btn-outline-primary">Abrir vista de inicio</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Artista</th>
                <th>Año de Publicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ album[0] }}</td>
                <td>{{ album[1] }}</td>
                <td>{{ album[2] }}</td>
                <td>{{ album[3] }}</td>
                <td>
                    <a href="/actualizarAlbum/{{ album[0] }}" class="btn btn-sm btn-warning">Actualizar</a>
                    <a href="/eliminar/{{ album[0] }}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
